p{
    font-family: Roboto;
}
.video-title{


    font-size:18px;
    font-weight: bold;
    width: 280px;
    line-height: 24px;

margin-bottom: 0;}

    
    .video-status{
        margin-top: 0;
        
       
        font-size:12px;
        color: #606060;
        
margin-bottom: 0;
    }

    .video-author{

        margin-bottom: 0;
        
        font-size:14px;
        color: #110e0e;
    }

    .video-disc{

       
        font-size:14px;
        width: 280px;
        color: #606060;
        margin-top: 10;
        margin-bottom: 100px;
    }

    .apple-text{

        margin-bottom: 50px;
        font-size: 14px;
        background-color:#e34140 ;
        color: white;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-left: 20px;
        margin-right: 20px;
   
    }

    .shop:hover{

        text-decoration: underline;     
    text-decoration-color: white;
   
    }
    .shop {
        cursor: pointer;
        
    }
    